In [4]:
## Estructura de datos: programación estructurada
-*Autor: Kleineer Tabata*
-Fecha: 23/12/2024

SyntaxError: invalid syntax (3523247137.py, line 2)

In [6]:
myList1 = [1,2,3,4,5]
myList1

[1, 2, 3, 4, 5]

In [8]:
myList1[2]

3

In [9]:
myList1[-1]

5

In [10]:
myList1[-2]

4

In [13]:
myList2=[5,3,1,2,4]
myList2

[5, 3, 1, 2, 4]

In [16]:
myList2.append(7)
myList2

[5, 3, 1, 2, 4, 7, 7]

In [18]:
myList2.pop(1)

3

In [19]:
myList2.sort()
myList2

[1, 2, 4, 5, 7, 7]

In [20]:
myList2.sort(reverse=True)
myList2

[7, 7, 5, 4, 2, 1]

In [21]:
myList2.index(2)

4

# slicing
# myList2[inicio(inclusive):final(noinclusive):pass]
# Si el inicio no se especifica por defecto es cero
# Si el final no se especifica por defecto es hasta el último elemento
# Si el paso no se especifica por defecto es Uno
# para invertir una lista (orden) myList[::-1 ]

In [22]:
myList2[0:2:1 ]

[7, 7]

In [28]:
myList2[:2:]

[7, 7]

In [29]:
myList2[ 1:3]

[7, 5]

In [30]:
myList2[ 3:]

[4, 2, 1]

In [31]:
myList2[ 0:3:2]

[7, 5]

In [33]:
myList2[3:3]

[]

In [34]:
myList2[1::3]

[7, 2]

In [35]:
myList2[::-1]

[1, 2, 4, 5, 7, 7]

In [36]:
myList2[:2:-1]

[1, 2, 4]

In [37]:
myList3 = ["pera","uva","manzana","pera","platano"]
myList3

['pera', 'uva', 'manzana', 'pera', 'platano']

In [38]:
myList3.count("pera")

2

In [39]:
myList3.count("uva")

1

In [40]:
myList3.count("papaya")

0

In [41]:
myList3[4] = "papaya"
myList3

['pera', 'uva', 'manzana', 'pera', 'papaya']

In [42]:
myList4 = list((3,4,5))
myList4

[3, 4, 5]

In [43]:
midict1 = {"age":22,"name":"Diana"}
midict1

{'age': 22, 'name': 'Diana'}

In [44]:
midict1["age"]

22

midict1.get("last_name","no_key")

In [46]:
midict1.keys()

dict_keys(['age', 'name'])

In [47]:
midict1.values()

dict_values([22, 'Diana'])

In [48]:
midict2 = {"age":22,"name":"Eve", "age":24}
midict2

{'age': 24, 'name': 'Eve'}

In [49]:
midict2["age"] = 23
midict2

{'age': 23, 'name': 'Eve'}

In [50]:
midict2.items()

dict_items([('age', 23), ('name', 'Eve')])

In [51]:
var1 = 3
str(var1)

'3'

In [52]:
type(var1)

int

In [54]:
var1

3

In [55]:
len(midict1)

2

In [56]:
len(myList2)

6

In [57]:
range(3) # Contiene 0,1,2

range(0, 3)

In [59]:
var2 = range(1,5)
var2

range(1, 5)

In [66]:
List1 = ["Daiana", "Eve", "Alan"]
List2 = [22,23,25]
iterable1 = zip(List1, List2)
iterable1

In [67]:
iterable2 = list(iterable1)
iterable2

[('Daiana', 22), ('Eve', 23), ('Alan', 25)]

iterable2[0]

In [68]:
print("Hello")
print("GoodBye")
print("gone")

Hello
GoodBye
gone

In [69]:
if "uva" in myList3:
    print("la esta en la lista")
else:
    print("la uva no esta en la lista")

la esta en la lista

In [70]:
if "ciruela" in myList3:
    print("la ciruela esta en la lista")
else:
    print("la ciruela no esta en la lista")

la ciruela no esta en la lista

In [71]:
if 3<2:
    print("tres es menor que 2")
elif 3 ==2:
    print("tres es igual a dos")
else:
    print("tres es mayor a dos")

tres es mayor a dos

In [72]:
if 7 in myList2:
    if 4 in myList2:
        print("el 7 y el 4 etan en la lista")
    else:
        print("Solo el siete esta en la lista")
else: 
    print("el site no esta en la lista")

el 7 y el 4 etan en la lista

In [73]:
for i in myList3:
    print(i)

pera
uva
manzana
pera
papaya

In [74]:
for fruta in myList3:
    if fruta != "uva":
        print(fruta)

pera
manzana
pera
papaya

In [75]:
i = 5
while i != 0:
    print(i)
    i = i - 1

5
4
3
2
1

In [76]:
def funtion1():
    print("Hellos World")

In [77]:
funtion1()

Hellos World

In [78]:
def function2(name):
    print(f"Hello {name}")

In [79]:
function2("peter")

Hello peter

In [80]:
def square(x):
    return x*x

In [81]:
square(3)

9

El número Pi es un número irracional que aproximadamente equivale a 3,14159..., para calcularlo podemos utilizar la formula de Leibniz que es Pi = 4*(1-1/3+1/5-1/7+1/9-.....) calcularesmos este valor utilizando Python

In [83]:
def calculate_pi(iterations):
    mipi = 0
    numerator = 1
    denominator = 1
    for k in range(iterations):
        mipi = mipi + numerator/denominator
        numerator = numerator*-1
        denominator = denominator + 2
    return 4 * mipi

3.141592643589326

In [ ]:
calculate_pi(100000000)